body {
      background-color: #ffe0b3;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90vh;
    }

    .register-box {
      background: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }